* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(to right, rgba(76, 175, 80, 0.4), rgba(244, 244, 249, 1));
}

.split-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
}

.quote-container {
  flex: 1;
  background-color: #ECDFCC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
}

.quote-container h1 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  max-width: 70%;
}

.quote-container h1::before,
.quote-container h1::after {
  content: "“";
  font-size: 4rem;
  color: #697565;
  position: absolute;
}

.quote-container h1::before {
  left: -50px;
  content: "“";
}

.quote-container h1::after {
  right: -50px;
  content: "”";
}



.form-container {
  flex: 1;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 24px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #666;
}

.input-box input {
  width: 100%;
  padding: 14px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-box input:focus {
  border-color: #3C3D37;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.4);
}

.primary-btn {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  background-color: #697565;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: #3C3D37;
}

.google-login-container {
  margin-top: 20px;
  text-align: center;
}

.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.google-login-btn:hover {
  border-color: #3C3D37;
}

.google-login-btn img {
  width: 20px;
  margin-right: 10px;
}

.switch-text {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.switch-text a {
  color: #3C3D37;
  text-decoration: none;
}

.switch-text a:hover {
  text-decoration: underline;
}

.error {
  color: #d32f2f;
  font-size: 14px;
  margin-top: 4px;
}

