<h2 mat-dialog-title>Alerts for {{ data.roomName }}</h2>

<mat-dialog-content>
  <mat-list>
    <div class="alert-dialog">
        <div *ngFor="let alert of data.alerts" class="alert-item">
          <div class="alert-header">
            {{ alert.sensorType }} - {{ alert.message }}
          </div>

        <!-- For DHT22 SENSOR -->
          <div class="alert-data-badges">
            <ng-container *ngIf="alert.data?.['temperature'] !== undefined">
                <span class="badge" [ngClass]="get_badge_class(alert.data?.['temperature'] ?? 0, 'temperature')">
                    <mat-icon class="badge-icon">device_thermostat</mat-icon>
                    {{ alert.data?.['temperature'] }} °C
                </span>
            </ng-container>
            <ng-container *ngIf="alert.data?.['humidity'] !== undefined">
                <span class="badge" [ngClass]="get_badge_class(alert.data?.['humidity'] ?? 0, 'humidity')">
                    <mat-icon class="badge-icon">water_drop</mat-icon>
                    {{ alert.data?.['humidity'] }} %
                </span>
            </ng-container>
          </div>
        <!--  -->

          <div class="alert-time">
            {{ alert.timestamp ? (alert.timestamp!.seconds * 1000 | date:'short') : 'No timestamp available' }}
          </div>
        </div>
      </div>

  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
