<mat-form-field appearance="fill">
  <mat-label>Filter by room</mat-label>
  <mat-select [(ngModel)]="selectedRoomId" (selectionChange)="applyFilters()">
    <mat-option *ngFor="let room of uniqueRooms" [value]="room.id">{{room.name}}</mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="filteredAlerts" class="mat-elevation-z2">
  <ng-container matColumnDef="parameter">
    <th mat-header-cell *matHeaderCellDef>Param</th>
    <td mat-cell *matCellDef="let alert">{{ alert.parameter }}</td>
  </ng-container>
  <ng-container matColumnDef="condition">
    <th mat-header-cell *matHeaderCellDef>Cond</th>
    <td mat-cell *matCellDef="let alert">{{ alert.condition }} {{ alert.threshold }}</td>
  </ng-container>
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Message</th>
    <td mat-cell *matCellDef="let alert">{{ alert.message }}</td>
  </ng-container>
  <ng-container matColumnDef="roomId">
    <th mat-header-cell *matHeaderCellDef>Room</th>
    <td mat-cell *matCellDef="let alert">{{ getRoomName(alert.roomId) }}</td>
  </ng-container>
  <ng-container matColumnDef="sensorId">
    <th mat-header-cell *matHeaderCellDef>Sensor</th>
    <td mat-cell *matCellDef="let alert">{{ getSensorType(alert.sensorId) }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let alert">
      <button mat-icon-button color="primary" (click)="editAlert(alert)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteAlert(alert)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['parameter','condition','message','roomId','sensorId','actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['parameter','condition','message','roomId','sensorId','actions'];"></tr>
</table>
<div class="no-alerts" *ngIf="filteredAlerts.length === 0">
  <mat-icon>info</mat-icon>
  No custom alerts found.
</div>

