<h2 mat-dialog-title>Set Limit for {{ data.sensor.sensorType }}</h2>

<mat-dialog-content [formGroup]="alertForm">
  <mat-form-field appearance="outline" class="custom-field">
    <mat-label>Parameter</mat-label>
    <mat-select formControlName="parameter">
      <mat-option *ngFor="let param of availableParams" [value]="param">
        {{ param | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-field">
    <mat-label>Condition</mat-label>
    <mat-select formControlName="condition">
      <mat-option value=">">></mat-option>
      <mat-option value="<"><</mat-option>
      <mat-option value=">=">>=</mat-option>
      <mat-option value="<="><=</mat-option>
      <mat-option value="==">==</mat-option>
    </mat-select>
  </mat-form-field>

  <p class="threshold-info">
    <mat-icon class="info-icon" fontIcon="info"></mat-icon>
    System will automatically trigger an alert when the sensor value goes above or below this threshold.
  </p>
  <mat-form-field appearance="outline" class="custom-field">
    <mat-label>Threshold</mat-label>
    <input matInput type="number" formControlName="threshold" [min]="currentMin" [max]="currentMax" step="0.1"/>
      <ng-container *ngIf="alertForm.get('threshold') as thresholdControl">
        <mat-error *ngIf="thresholdControl.hasError('min')">
          Value must be at least {{ currentMin }}
        </mat-error>
        <mat-error *ngIf="thresholdControl.hasError('max')">
          Value must be at most {{ currentMax }}
        </mat-error>
      </ng-container>
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-field">
    <mat-label>Message</mat-label>
    <textarea matInput formControlName="message"></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="submit()" [disabled]="alertForm.invalid">Save</button>
</mat-dialog-actions>
