<div class="alert-container">
  <mat-form-field appearance="fill">
    <mat-label>Select date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div *ngIf="cameraAlerts.length === 0" class="no-alerts-message">
    No alerts found
  </div>
  <div *ngFor="let room of cameraAlerts" class="alert-card" (click)="openAlertDetails(room)">
    <div class="alert-title">
      {{ room.roomName }}
      <span *ngIf="room.hasNewAlert" class="notification-badge"></span>
    </div>
    <div class="alert-preview">View alerts</div>
  </div>
</div>
